#quote-box {
	background-color: white;
	padding: 30px;
	margin: 10px;
	width: 30%;
	min-width: 240px;
	max-width: 750px;
	font-size: 2rem;
	font-family: sans-serif;
	line-height: 2.5rem;
	border-radius: 10px;
	box-shadow: 2px 4px 4px 0px;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 991px) {
	#quote-box {
		width: 60%;
	}
}
